name: Insertar y buscar en Mongo

on: push 
jobs:
  mongo-job:
    runs-on: ubuntu-latest
    container: node:16

    services:
      mongo:
        image: mongo:6.0
        ports:
          - 27017:27017

    steps:
      - run: npm install mongodb@4
      - run: |
          node -e "
            const { MongoClient } = require('mongodb');
            const client = new MongoClient('mongodb://localhost:27017');
            async function run() {
              await client.connect();
              const db = client.db('testdb');
              await db.collection('alumnos').insertOne({alumno:'Alan', calificacion:10});
              console.log(await db.collection('alumnos').find({alumno:'Alan'}).toArray());
              await client.close();
            }
            run().catch(console.error);
          "