name: Insertar y buscar en Mongo

on: push 
jobs:
  mongo-job:
    runs-on: ubuntu-latest
    container: mongo:6.0

    steps:
      - run: |
          mongosh --eval '
            const db = connect("mongodb://localhost:27017/testdb");
            db.alumnos.insertOne({alumno: "Alan", calificacion: 10});
            printjson(db.alumnos.find({alumno: "Alan"}).toArray());
          '