name: Insertar y buscar en Mongo

on: push 
jobs:
  mongo-job:
    runs-on: ubuntu-latest
    container: node:16

    services:
      mongo:
        image: mongo:6.0
        ports:
          - 27017:27017

    steps:
      - run: npm install mongodb@4
      - run: |
          node -e "
            const { MongoClient } = require('mongodb');
            async function waitAndConnect(uri, retries = 5, delay = 2000) {
              for (let i = 0; i < retries; i++) {
                try {
                  const client = new MongoClient(uri);
                  await client.connect();
                  return client;
                } catch (err) {
                  console.log('Esperando Mongo... retry', i + 1);
                  await new Promise(r => setTimeout(r, delay));
                }
              }
              throw new Error('No se pudo conectar a Mongo');
            }

            (async () => {
              const client = await waitAndConnect('mongodb://mongo:27017');
              const db = client.db('testdb');
              await db.collection('alumnos').insertOne({alumno:'Alan', calificacion:10});
              console.log(await db.collection('alumnos').find({alumno:'Alan'}).toArray());
              await client.close();
            })();
          "